/FIndMissingNumber.class
/MaximumSumSubsequence.class
/MinumNumberOfCoinsToMakeChange.class
/OddOccurance.class
/arrIncreaseDecreasingSeq.class
/elementsArraySum3.class
/exortoFindduplicates.class
/findRepetaingNumbers.class
/increaseSubArrayOfGivenArray.class
/maxmimumDiffrance.class
/numberOfAccurnaces.class
/oneNumberthatDoesntAccurTwice.class
/secondSmallestNumber.class
/traillingZero.class
