/StringSwap.class
/StringReplace.class
/PaterMatchingBasic1.class
/RegularExpressionSearchs.class
/Quntifier.class
/RegSplit.class
/StringSplit.class
/RegexPhoneNumber.class
/RegexFindEmail.class
/ExtractPhoneNumbrFromFile.class
/ExtractEmailfromFile.class
/ExtractEmailAndMobileBothfromFile.class
/CdrivertotalTxtFiles.class
/readallJavafileNameSaveinFile.class
/sequanceOfStringreplaceAlterNative.class
/StringSpltDem01.class
/writingAString.class
/filePhoneNumberReadStroreAsPhoneNumber.class
/ExtractEmailFromfileTest.class
/numberofFileinDirec.class
/addNumberWithoutOperatorXor.class
/redendantDuplicatesExpInString.class
/redudnatString.class
